<carousel>
  <slide>
      <img src="assets/images/hero1.jpg" alt="first slide" style="object-fit:scale-down; display:block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/hero2.jpg" alt="first slide" style="object-fit:scale-down; display:block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/images/hero3.jpg" alt="first slide" style="object-fit:scale-down; display:block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Text2Care</h1>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <h2>FEED A HUNGRY PERSON TODAY</h2>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <p>In our world of plenty, no one should go hungry. For as little as the price of a coffee, you can make a real social impact. Sponsor a meal today and let Text2Care drive your contribution to the heart of where it’s needed most. Receive a photo of the meal on their plate and the smile on their face.</p>
  </div>
  <div class="d-flex justify-content-center pt-4">
    <p>Text2Care is finding new and better ways to reach those in need, but we need your help. Join our growing community of subscribers and partners to create a network of care for the most vulnerable and excluded all around the world.</p>
  </div>

</section>
